.header {
  text-align: center;
  margin-bottom: 10px;
  background: rgb(50, 191, 84);
  background: radial-gradient(
    circle,
    rgba(50, 191, 84, 1) 0%,
    rgba(255, 255, 255, 0.8853507705881626) 52%,
    rgba(212, 35, 7, 1) 100%
  );
}

h1 {
  font-size: 150px;
  color: red;
  font-family: "Fjalla One", sans-serif;
  margin-bottom: 20px;
  margin-top: 0px;
}

input {
  font-size: 80px;
  font-family: "Fjalla One", sans-serif;
}

.button {
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  height: 150px;
  margin-top: 0px;
  margin-bottom: 60px;
}

.button:hover {
  background-color: red;
  color: white;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  background-image: url("resources/pics/miguel.jpg");
  margin: 5px;
  flex: 0 0 32%;
  height: auto;
}

.flex-item:before {
  content: "";
  float: left;
  padding-top: 100%;
}

h2 {
  font-size: 70px;
  color: black;
  font-family: "Fjalla One", sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
